<div class="card">
  <div class="card-body">
    <div class="fund-bar mb-4">
      <div class="fund-total">
        <h3><span class="current-fund">$0</span> of <span class="total-fund-amount">$0</span></h3>
      </div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    <div class="fund-button">
      <button type="button" class="btn btn-info">Go Fund Me</button>
    </div>
  </div>
</div>
<div class="author-section">
  <div class="user-image">
    <img src="" alt="">
  </div>
  <div class="user-info">
    <p class="mb-0">Ants Johnson</p>
    <p class="mb-0">Stuff</p>
    <p class="mb-0">Portland, OR</p>
  </div>
</div>
